//TOOLTIP CHARTS
.custom-tooltip {
  background: white;
  .label {
    padding: 7px;
    font-weight: 500;
    font-size: 8px;
  }
  &--activity {
    background-color: #e60000;

    .label {
      color: white;
      font-weight: 500;
      font-size: 7px;
      padding: 7px 10px;
    }
  }
}
